# How we are indexing

In [1]:
# make a string

a = "Samosa Pakora"
a

'Samosa Pakora'

In [2]:
a[0]

'S'

In [5]:
#length of index
len(a)

13

In [3]:
a[1]

'a'

In [4]:
a[3]

'o'

In [6]:
a[13]

IndexError: string index out of range

In [7]:
a[12]

'a'

In [8]:
a[0:5]

'Samos'

In [9]:
#exclusive element is the last one
a[0:6]

'Samosa'

In [10]:
a[0:13]

'Samosa Pakora'

In [11]:
a[0:12]

'Samosa Pakor'

In [12]:
a[-1]

'a'

In [13]:
a[-2]

'r'

In [14]:
a[-6:-1]

'Pakor'

In [15]:
a[-6:0]

''

In [16]:
a[-6:13]

'Pakora'

In [21]:
food = "biryani"
food

'biryani'

# String methods

In [18]:
len(food)

7

In [22]:
#capitalize first letter
food.capitalize()

'Biryani'

In [23]:
#upper case letters
food.upper()

'BIRYANI'

In [24]:
#lower case letters
food.lower()

'biryani'

In [25]:
#replace the letter
food.replace("b","Sh")

'Shiryani'

In [27]:
#counting a specific alphabet in a string
name = "baba_ali with ali taqi"
name

'baba_ali with ali taqi'

In [29]:
#the way you want specific alphabet in a string
name.count("a")

5

# finding an index number in string

In [30]:
name = "baba_ali with ali taqi"
name

'baba_ali with ali taqi'

In [31]:
name.index("t")

11

# how to split a string

In [32]:
food = "i love samosa, pakora, biryani and raita"
food

'i love samosa, pakora, biryani and raita'

In [33]:
food.split(",")

['i love samosa', ' pakora', ' biryani and raita']

# Basic data structure in python

1- Tuple
2- List
3- Dictionaries
4- Sets

## Tuple

ordered collection of elements
enclosed in () or paranthesis
different kind of element can be stored
once elements are stored you cannot change unmutatable(unchangeable).

In [36]:
#type of tuple
tup1 = (1,"Python", True, 2.5)
tup1

(1, 'Python', True, 2.5)

In [37]:
type(tup1)

tuple

### Indexing in tuple

In [39]:
tup1[0]

1

In [40]:
tup1[1]

'Python'

In [41]:
tup1[2]

True

In [42]:
tup1[3]

2.5

In [43]:
tup1[0:4]

(1, 'Python', True, 2.5)

In [44]:
tup1[0:5]

(1, 'Python', True, 2.5)

In [46]:
#python main last wala exclusive hota hai 
tup1[0:3]

(1, 'Python', True)

In [48]:
#length of tuple
#count of tuple 
len(tup1)

4

In [49]:
tup2= (2,"ali",3.5,False)

In [50]:
# when you add in tuple in python we call it as concatinate
# to add two or more than 2 tuples
#concatinate
tup1 + tup2

(1, 'Python', True, 2.5, 2, 'ali', 3.5, False)

In [51]:
#concatinate + repeat
tup1 * 2+ tup2

(1, 'Python', True, 2.5, 1, 'Python', True, 2.5, 2, 'ali', 3.5, False)

In [52]:
tup3 = (25, 50, 60, 70,80)
print(tup3)

(25, 50, 60, 70, 80)

In [53]:
#minimum value
min(tup3)

25

In [54]:
#maxmimum value
max(tup3)

80

In [55]:
#3 times repetitiion
tup3 *3

(25, 50, 60, 70, 80, 25, 50, 60, 70, 80, 25, 50, 60, 70, 80)

In [57]:
...

Ellipsis

...

---

### List
- ordered collection of elements
- enclosed in [closed brackets] []
- mutatable that means you can change the value

In [58]:
list1=[1,"python", 3.5]

In [59]:
print(list1)

[1, 'python', 3.5]

In [60]:
type(list1)

list

In [61]:
len(list1)

3

In [62]:
list1[2]

3.5

In [63]:
list[0]

list[0]

In [64]:
list1[0]

1

In [65]:
list2 =[2,5, "ali", 4050,53.6, False]
print(list2)

[2, 5, 'ali', 4050, 53.6, False]

In [66]:
#concatinate
list1 + list2

[1, 'python', 3.5, 2, 5, 'ali', 4050, 53.6, False]

In [67]:
list1 * list2

TypeError: can't multiply sequence by non-int of type 'list'

In [68]:
list1 *2

[1, 'python', 3.5, 1, 'python', 3.5]

In [69]:
list1.reverse()

In [70]:
print(list1)

[3.5, 'python', 1]

In [71]:
list1.append("Youtube")

In [72]:
print(list1)

[3.5, 'python', 1, 'Youtube']

In [73]:
list1.count()

TypeError: list.count() takes exactly one argument (0 given)

In [74]:
list1.count(1)

1

In [79]:
 list1.count(1)

1

In [80]:
list3 =[20,30,14,54,78,87,93,15]

In [81]:
print(list3)

[20, 30, 14, 54, 78, 87, 93, 15]

In [82]:
len(list3)

8

In [83]:
mean(list3)

NameError: name 'mean' is not defined

In [84]:
list3.sort()

In [85]:
print(list3)

[14, 15, 20, 30, 54, 78, 87, 93]

In [86]:
list3 *3

[14,
 15,
 20,
 30,
 54,
 78,
 87,
 93,
 14,
 15,
 20,
 30,
 54,
 78,
 87,
 93,
 14,
 15,
 20,
 30,
 54,
 78,
 87,
 93]

In [87]:
list1 + list3

[3.5, 'python', 1, 'Youtube', 14, 15, 20, 30, 54, 78, 87, 93]

In [88]:
list1 + list2 + list3

[3.5,
 'python',
 1,
 'Youtube',
 2,
 5,
 'ali',
 4050,
 53.6,
 False,
 14,
 15,
 20,
 30,
 54,
 78,
 87,
 93]

### Dictionaries
- an unordered collection of elements.
- key and value
- curly braces and brackets
- mutatable that means you can change the values.

In [94]:
# food and prices
food1= {"samosa": 30, "pakora": 50, "raita": 20, "salad": 15, "chicken roll": 25}
food1

{'samosa': 30, 'pakora': 50, 'raita': 20, 'salad': 15, 'chicken roll': 25}

In [95]:
type(food1)

dict

In [96]:
#extract data
food1.keys()

dict_keys(['samosa', 'pakora', 'raita', 'salad', 'chicken roll'])

In [97]:
keys1= (food1.keys())
keys1

dict_keys(['samosa', 'pakora', 'raita', 'salad', 'chicken roll'])

In [98]:
#extract value
food1.values()

dict_values([30, 50, 20, 15, 25])

In [99]:
values1= (food1.values())
values1

dict_values([30, 50, 20, 15, 25])

In [ ]:
#append mean to add or change something
food1.update{}

In [100]:
#adding new value that means mutate
food1["tikki"]=10
food1

{'samosa': 30,
 'pakora': 50,
 'raita': 20,
 'salad': 15,
 'chicken roll': 25,
 'tikki': 10}

In [101]:
#update the values
food1["tikki"]= 15
food1

{'samosa': 30,
 'pakora': 50,
 'raita': 20,
 'salad': 15,
 'chicken roll': 25,
 'tikki': 15}

In [102]:
food2= {"dates":50, "chocolates":100, "kheer":1000}
food2

{'dates': 50, 'chocolates': 100, 'kheer': 1000}

In [103]:
type(food2)

dict

In [104]:
#concatinate
food1 + food2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [105]:
#this is how we concatitinate in dictionaries simple concatinate will not work.
food1.update(food2)

In [106]:
food1

{'samosa': 30,
 'pakora': 50,
 'raita': 20,
 'salad': 15,
 'chicken roll': 25,
 'tikki': 15,
 'dates': 50,
 'chocolates': 100,
 'kheer': 1000}

###  Sets
- unordered and unindexed
- curly braces are used.
- no duplicates allowed

In [107]:
s1 = {1, 2.1, 5.2, "aali", "gujrat", "comsats", "lahore"}
s1

{1, 2.1, 5.2, 'aali', 'comsats', 'gujrat', 'lahore'}

In [109]:
s1.add("Taqi")
s1

{1, 2.1, 5.2, 'Taqi', 'aali', 'comsats', 'gujrat', 'lahore'}

In [110]:
type(s1)

set

In [111]:
#set ka andar duplicate nahi aa saktay iss wja sa ye nahi ho ga add kyu ka pehlay sa hi Taqi add hai 
s1.add("Taqi")

In [112]:
s1.removee("Taqi")

AttributeError: 'set' object has no attribute 'removee'

In [113]:
s1.remove("Taqi")

In [114]:
s1

{1, 2.1, 5.2, 'aali', 'comsats', 'gujrat', 'lahore'}

In [ ]:
s1.

In [ ]:
tup3.

In [ ]:
list1.

In [ ]:
food1.